<!-- <div class="bootstrap-wrapper">
    <div class="container mt">

        <div class="row">

            <div class="col-md-6 offset-md-3">

                <h1 class="text-center">Login here!!</h1>


            </div>
        </div>
    </div>
</div> -->

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="../assets/noBgLogin.png" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <form (ngSubmit)="onSubmit()">


                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Login Here !!!</p>
                    </div>

                    <mat-form-field class="full-width">

                        <mat-label>Username</mat-label>
                        <input required [(ngModel)]="credentials.userName" type="email" placeholder="Enter a valid email address"
                         matInput name="username" />

                    </mat-form-field>


                    <mat-form-field class="full-width">

                        <mat-label>Password</mat-label>
                        <input required [(ngModel)]="credentials.password" type="password" placeholder="Enter your password"
                         matInput name="password"/>
                    </mat-form-field>

                        
                    <p>{{credentials | json}}</p>

                    <div class="container" style="display: flex;">
                        <div class="container text-center">
                            <button class="btn btn-dark" type="submit">Login</button>
                        </div>

                        <div class="container text-center">
                            <button class="btn btn-danger" type="reset">Reset</button>
                        </div>
                    </div>

                    <!-- <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid email address" />
              <label class="form-label" for="form3Example3">&nbsp;&nbsp;&nbsp;Email address</label>
            </div>
   -->

                    <!-- <div class="form-outline mb-3">
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" />
              <label class="form-label" for="form3Example4">&nbsp;&nbsp;&nbsp;Password</label>
            </div>
   -->
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a href="javascript:void(0)" class="text-body">Forgot password?</a>
                    </div>


                </form>
            </div>
        </div>
    </div>

</section>